<%- include('../partials/header.ejs'); %>

    <div class="container">
        <div class="row">
            <div class="form-centre">
                <h1>
                    Add comment to: <%= products.name %>
                </h1>
                <!-- Post new products object. -->
                <form action="/products/<%= products._id %>/comments" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="comment[text]" placeholder="comment">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary form-centre">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/footer.ejs'); %>