<%- include('./partials/header.ejs'); %>
    <div class="container">
        <header class="jumbotron">
            <h1>Hardware page</h1>
            <a class="btn btn-primary btn-lg" href="/hardware/new">Create new hardware post.</a>
        </header>


        <div class="container">
            <div class="row">
                <% hardware.forEach(function(hardware){ %>
                    <div class="col-sm-3">

                        <div class="img-thumbnail">
                            <img src=" <%=hardware.image %>">
                            <div class="caption-full">
                                <h4>
                                    <%= hardware.name %>
                                </h4>
                            </div>
                        </div>

                    </div>
                    <% });%>
            </div>
        </div>


    </div>

    <a href="/">Back</a>


    <%- include('./partials/footer.ejs'); %>