<%- include('./partials/header.ejs'); %>

<h1>hardware page</h1>

<!-- Loops through temporary database and displays name and image. -->
<% hardware.forEach(function(hardware){ %>
    <div>
        <h4><%= hardware.name %></h4>
        <img src="<%= hardware.image %>">
    </div>
    <% });%>

<a href="/">Back</a>

<%- include('./partials/footer.ejs'); %>