<%- include('./partials/header.ejs'); %>

    <h1>New hardware object</h1>

    <div class="container">
        <div class="row">
            <div class="form-centre">
                <!-- Post new hardware object. -->
                <form action="/hardware" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder="name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="image" placeholder="image">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary form-centre">Post</button>
                    </div>
                </form>
            </div>
        </div>
        <a href="/hardware">Back</a>
    </div>


    <%- include('./partials/footer.ejs'); %>