<%- include('./partials/header.ejs'); %>

    <h1>
        <%=products.name%>
    </h1>

    <img src="<%= products.image%>">

    <p>
        <%products.description%>
    </p>

    <%- include('./partials/footer.ejs'); %>